body, html {
  font-size: 10pt;
  color:#1A1A1D;
  background-color: white;
}
td{
  border:1px solid gray;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
  border-radius: 3px;
  padding: 2px;
}
.title{
  width:auto;
  border: none;
  box-shadow: none;
  background: transparent;
}
.icontd{
  border : none;
  box-shadow: none;
  background: transparent;
}
.clickTab:hover{
  cursor:pointer;
  background-color: #F0F0F0;
}
